parameters:
    level: 6
    scanFiles:
        - %currentWorkingDirectory%/app/Functions/global.php
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        - %currentWorkingDirectory%/src/*/assets/*
        - %currentWorkingDirectory%/src/*/config/*
        - %currentWorkingDirectory%/src/*/migrations/*
        - %currentWorkingDirectory%/src/*/seeds/*
        - %currentWorkingDirectory%/src/*/view/*
        - %currentWorkingDirectory%/src/*/Tests/*

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
