parameters:
    level: 5
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        - %currentWorkingDirectory%/assets/*
        - %currentWorkingDirectory%/config/*
        - %currentWorkingDirectory%/phinx/*
        - %currentWorkingDirectory%/view/*
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/bin/*
        - %currentWorkingDirectory%/vendor/*
