parameters:
    level: 4
    paths:
        - %currentWorkingDirectory%/
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/assets/*
        - %currentWorkingDirectory%/config/*
        - %currentWorkingDirectory%/migrations/*
        - %currentWorkingDirectory%/seeds/*
        - %currentWorkingDirectory%/view/*
        - %currentWorkingDirectory%/Tests/*

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
